h1 {
    color: red;
}

/* .fruit_01 {
    color: tomato;
} */

/* psuedo(수도) 선택자 */
a:link {
    color: black;
}
a:visited {
    color: blue;
}
a:hover {
    color: yellow;
}

ol>li { /* ol밑 li 태그에 적용*/
    border: 1px solid;
    border-color: blue;
}

ul li { /* ul밑 li를 포함한 모든 태그에 적용*/
    color: red;
}

ul,ol { /*ul,ol태그에 모두 적용*/
    background-color: antiquewhite;
}

/* #Aplle {
    color: brown;
} */